.nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;

    &:first-child {
      margin: 0;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $main-text-color;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;

    &:hover {
      color: $accent-color;
    }
  }
}

.is-active {
  color: $accent-color;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: solid 4px;
    border-color: $accent-color;
    border-radius: 8px;
  }
}
