$main-text-color: #060b35;
$secondary-text-color: #616070;
$focus-text-color: #34568b;
$button-white: #fff;
$accent-color: #00acdc;
$border-color: #f3f3f3;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-small: 12px;
$max-stars: 5;
$card-width: 200px;
$padding-large: 50px;
$spacing-medium: 40px;
$grid-gap-vertical: 46px;
$grid-gap-horizontal: 48px;
$box-shadowing: #0000000d;
